@use "@/assets/styles/main.scss" as *;
//---------------------------------------------------------------------------------------------//
//========================================= Students Registration =============================//
//---------------------------------------------------------------------------------------------//

#student-registration {
  background-color: #F8F8F8;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-inline: 30px;
  padding-block: 32px;

  .form-div{
    width: 100%;

    .textfield-registration{    
      i{
        color: #3C3C434D;
        opacity: .6;
      }

      .v-field{
        border-radius: 16px;
        transition: all .5s ease-in-out;
        ::placeholder{
          color: #3C3C434D;
          opacity: .6;
        }
      }

      .v-field--active{
        border: 1px solid #7583D9;

        i{
          color: #46464C;
        }
      }
      
      .v-input__control{
        height: 56px;
      }
  
      .v-field__input{
        padding-block: 5px;
        height: 56px!important;
        min-height: 1px!important;
      }
    }

    .autocomplete-register{
      .v-field{
        border-radius: 16px;
      }

      .v-field--active{
        border: 1px solid #7583D9;

        i{
          color: #46464C;
        }
      }
    }

    .container-div-form{
      background-color: #FFFFFF;
      border-radius: 16px;
      width: 100%;
      padding: 12px 32px 18px 32px;
    }
  }
}


.rounded-menu {
  border-radius: 12px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
}



////////////////////////// Dialog ///////////////////////


.dialogSave{
  display: grid;
  place-items: center;
  .card-save{
    height: 302px;
    width: 370px;
    border-radius: 24px!important;
    background-color: #FFFFFF;
    border: 1px solid #7583D9;
    padding: 36px 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
      width: 28px;
      height: 28px;
    }

    hr{
      width: 100%;
      border-bottom: 1px solid rgba(#000000, 0.1);
    }

    .btn-divs{
      display: flex;
      gap: 12px;

      .btn1{
        width: 160px;
        height: 40px;
        border-radius: 32px;
        background-color: #6BBDAE;

        .v-btn__content{
          color: #FFFFFF;
          font-weight: 500;
          font-size: 16px;
          text-transform: none;
        }
      }

      .btn2{
        width: 160px;
        height: 40px;
        border-radius: 32px;
        background-color: #F36029;

        .v-btn__content{
          color: #FFFFFF;
          font-weight: 500;
          font-size: 16px;
          text-transform: none;
        }
      }
    }
  }
}


.dialogConfirmation{
  display: grid;
  place-items: center;
  .card-confirmation{
    height: 300px;
    width: 350px;
    border-radius: 24px!important;
    background-color: #FFFFFF;
    border: 1px solid #7583D9;
    padding: 36px 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
      width: 28px;
      height: 28px;
    }

    hr{
      width: 100%;
      border-bottom: 1px solid rgba(#000000, 0.1);
    }

    .btn-divs{
      display: flex;
      gap: 12px;

      .btn1{
        width: 150px;
        height: 40px;
        border-radius: 32px;
        background-color: #6BBDAE;

        .v-btn__content{
          color: #FFFFFF;
          font-weight: 500;
          font-size: 16px;
          text-transform: none;
        }
      }

      .btn2{
        width: 150px;
        height: 40px;
        border-radius: 32px;
        background-color: #F36029;

        .v-btn__content{
          color: #FFFFFF;
          font-weight: 500;
          font-size: 16px;
          text-transform: none;
        }
      }
    }
  }
}




