@use "@/assets/styles/main.scss" as *;
//---------------------------------------------------------------------------------------------//
//========================================= Teachers  ========================================//
//---------------------------------------------------------------------------------------------//

#teachers {
  background-color: #F8F8F8;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-inline: 30px;
  padding-block: 32px;

  .card-img-table{
    border: 2px solid #7583D9;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    
    img{
      width: 48px;
      height: 48px;
      object-fit: cover;
    }
  }

  .v-data-table{
    .v-input{
      background-color: #F8F8F8;
    }
    .login-textfield{    
      i{
        color: #3C3C434D;
        opacity: .6;
      }

      .v-field{
        border-radius: 16px;
        transition: all .5s ease-in-out;
        ::placeholder{
          color: #3C3C434D;
          opacity: .6;
        }
      }

      .v-field--active{
        border: 1px solid #7583D9;

        i{
          color: #46464C;
        }
      }
      .v-input{
        max-width: 100%;
        width: 100%;
      }
      .v-input__control{
        height: 56px;
        max-width: 100%;
        width: 100%;
      }
  
      .v-field__input{
        max-width: 100%;
        width: 100%;
        padding-block: 5px;
        height: 56px!important;
        min-height: 1px!important;
      }
    }

    .v-table__wrapper {
      table {
        border-collapse: separate;
        border-spacing: 0px;
        background-color: #F8F8F8;
      }
    }

    tr th{
      background-color: #F8F8F8;
      color: #262262;
      font-size: 16px;
      font-weight: 700!important;
      border: none!important;
      padding-block: 40px 12px;
    }
    
    tr:nth-child(odd){
      background: #FFFFFF!important;
      
      .color-font-center{
        color: #262262;
      }
    }
    
    tr:nth-child(even){
      background: #F8F8F8!important;

      .color-font-center{
        color: #262262;
      }
    }
    
    
    tr td{
      border: none!important;
      color: #474649;
      font-weight: 700!important;
      font-size: 16px;
      height: 82px;
    }

    td:first-child {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    td:last-child {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  .btn-floating{
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 17px!important;
    background-color: #F36029;
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
}



////////////////////////// Dialog ///////////////////////


.dialogDeleteTeacher{
  display: grid;
  place-items: center;
  .card-delete{
    height: 302px;
    width: 370px;
    border-radius: 24px!important;
    background-color: #FFFFFF;
    border: 1px solid #7583D9;
    padding: 36px 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
      width: 28px;
      height: 28px;
    }

    hr{
      width: 100%;
      border-bottom: 1px solid rgba(#000000, 0.1);
    }

    .btn-divs{
      display: flex;
      gap: 12px;

      .btn1{
        width: 160px;
        height: 40px;
        border-radius: 32px;
        background-color: #6BBDAE;

        .v-btn__content{
          color: #FFFFFF;
          font-weight: 500;
          font-size: 16px;
          text-transform: none;
        }
      }

      .btn2{
        width: 160px;
        height: 40px;
        border-radius: 32px;
        background-color: #F36029;

        .v-btn__content{
          color: #FFFFFF;
          font-weight: 500;
          font-size: 16px;
          text-transform: none;
        }
      }
    }
  }
}


.dialogConfirmationTeacher{
  display: grid;
  place-items: center;
  .card-confirmation{
    height: 330px;
    width: 490px!important;
    border-radius: 24px!important;
    background-color: #FFFFFF;
    border: 1px solid #7583D9;
    padding: 36px 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
      width: 28px;
      height: 28px;
    }

    hr{
      width: 100%;
      border-bottom: 1px solid rgba(#000000, 0.1);
    }

    .btn-divs{
      display: flex;
      gap: 12px;

      .btn1{
        width: 200px;
        height: 40px;
        border-radius: 32px;
        background-color: #6BBDAE;

        .v-btn__content{
          color: #FFFFFF;
          font-weight: 500;
          font-size: 16px;
          text-transform: none;
        }
      }

      .btn2{
        width: 200px;
        height: 40px;
        border-radius: 32px;
        background-color: #F36029;

        .v-btn__content{
          color: #FFFFFF;
          font-weight: 500;
          font-size: 16px;
          text-transform: none;
        }
      }
    }
  }
}