@use '@/assets/styles/main.scss' as *;
//---------------------------------------------------------------------------------------------//
//======================================== layout =============================================//
//---------------------------------------------------------------------------------------------//

#layout {
  // overflow: hidden;

  //- responsive font size -//
  & > * { font-size: var(--resizer) }

  .v-main {
    position: relative;
    background-color: #F0F0F0;
    padding-top: 80px;
    & > * {
      @include media(max, small) { font-size: var(--resizer-mobile) }
    }
  }
}
